<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">    <link rel="stylesheet" href="/style.css">
    <title>Boss-Mode</title>
</head>
<body>
    
    <nav>
        <h4 class="boss-mode">Boss Mode</h4>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">register</a></li>
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="jumbotron">
  <h1 class="display-4">Login project</h1>
  <p class="lead">This is a login project </p>
  <hr class="my-4">
   <h4><b>Discover more about our massive website !</b> </h4>
  <a class="btn btn-primary btn-lg" href="#" role="button">Explore more</a>
</div>
    </div>


    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>